@import "src/App";

.hero-section {
  position: relative;
  margin-top: 70px;

  .hero-title {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-family: "Roboto Bold";
    font-weight: 700;
    color: $white;
    font-size: 68px;
    text-align: center;

    .pre {
      display: block;
    }

    .first-word {
      font-family: "Roboto Light";
      font-weight: 300;
    }
  }

  .social {
    background: $grey-bg;
    border: 1px solid #9aa7b3;
    padding: 10px;
    z-index: 3;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    position: fixed;
    top: 105px;
    right: 0;

    .divider {
      height: 1px;
      background: #9aa7b3;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-button-prev, .swiper-button-next {
      color: $grey !important;
    }

    .swiper-pagination {
      width: 100%;

      .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid #dbdbdb;
        margin: 0 15px !important;
        width: 15px;
        height: 15px;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background: $red;
        border: 1px solid $red;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
      min-height: 700px;
    }

    @media (max-width: $screen-md) {
      .swiper-button-prev, .swiper-button-next {
        display: none;
      }
      .swiper-slide img {
        min-height: 500px;
      }
    }
  }
}
