@import "./../../App";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $red-bg;

  .logo {
    height: 37px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .nav-area {
    display: flex;
    position: relative;

    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-toggle,
      .nav-close {
        display: none;
      }

      .nav-close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
      }
.nav-list {
  display: flex;
}
      .nav-item {
        position: relative;
        .nav-list {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0;
          a {
            display: block;
          }
        }
        .submenu {
          flex-direction: column;
          list-style: none;
          left: 0;
          top: 100%;
          background-color: $grey-bg;
          padding: 10px 0;
          min-width: 150px;
          //display: none; /* Скриваме подменюто по подразбиране */
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          .nav-item {
            padding: 10px 20px;
            border-bottom: 1px solid $grey;

            &:last-child {
              border-bottom: none;
            }

            .nav-link {
              color: $dark-text;
              font-family: "Roboto Medium";
              font-weight: 500;
              text-decoration: none;
              transition: color 0.4s;
              &:hover {
                color: $red;
              }
            }
          }
        }
      }



    }
  }
  @media (max-width: $screen-md) {

      .nav-toggle,
      .nav-close {
        display: inline-block !important;
        font-size: 40px;
        color: $white;
        cursor: pointer;
        position: absolute;
        right: 0;
      }
      .active {
        display: block;
      }

      .inactive {
        display: none !important;
      }
      .nav-list {
        flex-direction: column;
      }
    }

}

.nav-item:hover .submenu {
    display: block;
}
