@import "./../../App";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $red-bg;
  height: 70px;

  .logo {
    height: 37px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .nav-area {
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 70px;

    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .nav-list-right {
        display: flex !important;
        margin-left: auto !important;

        .nav-link {
          text-transform: capitalize !important;
        }
      }

      .nav-toggle {
        display: none;
      }

      .nav-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        select {
          &:hover {
            background-color: red;
          }
        }
      }

      .nav-item {
        position: relative;
        height: 70px;
        line-height: 70px;

        &:hover {
          .submenu {
            display: inline-block;
            border-top: 1px solid $grey;
          }
        }

        .nav-link {
          display: block;
          padding: 0 25px;
          text-align: center;
          color: $white;
          font-family: "Roboto Medium";
          font-weight: 500;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            background-color: $grey-bg;
            color: $red;
          }
        }

        .submenu {
          flex-direction: column;
          list-style: none;
          left: 0;
          top: 100%;
          background-color: $grey-bg;
          padding: 0;
          display: none;
          position: absolute;

          .nav-link {
            text-transform: capitalize !important;
            position: relative;
            display: block;
            color: $dark-text;
            font-family: "Roboto Medium";
            font-weight: 500;
            text-decoration: none;
            transition: color 0.4s;
            padding: 0 30px;
            text-align: left;
            white-space: nowrap;
            min-width: 200px;

            &:hover {
              color: $red;
            }
          }

          .nav-item {
            border-bottom: 1px solid $grey;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  .language {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: "Roboto Medium";
    color: $dark-text;

    img {
      width: 35px;
    }

    svg {
      stroke: $dark-grey;
    }
  }

  @media (max-width: $screen-md) {
    .nav-menu {
      position: absolute;
      top: 70px;
      right: 0;
      left: 20px;
      flex-direction: column;
      background: $grey-bg;

      .nav-toggle {
        display: inline-block !important;
        position: absolute;
        top: -70px;
        font-size: 40px;
        line-height: 28px;
        color: $white;
        cursor: pointer;
        position: absolute;
        right: 20px;
        padding: 15px 20px;
        transition: ease 0.4s;

        &.open {
          background: $grey-bg;
        }

        .close-icon {
          color: $red;
        }
      }

      .nav-list {
        flex-direction: column;
        width: 100%;

        &.active {
          display: flex;

          + .nav-list-right {
            display: flex !important;
            margin: 0 !important;

            .nav-item {
              border: none;
              height: auto;
              line-height: normal;
              padding: 10px 0;

              &:first-child {
                padding-top: 20px;
              }
            }
          }
        }

        &.inactive {
          display: none;

          + .nav-list-right {
            display: none !important;
          }
        }

        .nav-item {
          border-bottom: 1px solid $grey;
          margin: 0 50px 0 30px;
          height: 60px;
          line-height: 60px;

          &:hover {
            .submenu {
              display: none;
            }
          }

          .nav-link {
            color: $dark-text;
            text-align: left;
            padding: 0;
          }
        }
      }

      .language {
        margin: 0 30px;
        padding: 10px 0 30px;
      }
    }
  }

  @media (min-width: $screen-md) and (max-width: $screen-xl) {
    .nav-area {
      column-gap: 20px;
      .nav-link {
        padding: 0 8px !important;
      }
    }
  }
}
