@import "./../../App.scss";

.news-section {
  background-color: $light-grey-bg;
  padding: 48px 0 80px;

  .news-card-wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
  }

  .news-card {
    position: relative;
    border-right: 1px solid $grey;
    padding: 0 45px;

    &:last-of-type {
      border-right: none;
    }

    .news-title {
      font-size: 30px;
      font-weight: 300;
      color: $dark;
    }
    .news-subtitle {
      font-size: 22px;
      font-weight: 300;
      color: $dark;
    }

    .news-img {
      width: 100%;
      max-width: 100%;
    }

    .news-date {
      font-size: 15px;
      font-weight: 400;
      color: $dark;
    }
    .news-descr {
      font-size: 15px;
      font-weight: 400;
      font-style: italic;
      color: $dark;
    }
    .btn {
      background-color: $red;
      border: none;
      color: $white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
    }
  }

  @media (max-width: $screen-md) {
    .section-title {
      margin: 0 0 40px;
    }
    .product-card-wrapper {
      row-gap: 40px;
    }
    .col-3 {
      flex: 1 1 auto;;
      max-width: 100%;
      width: 100%;
    }
  }
}
